/**
 * Daniel Sebastian Iliescu, http://dansil.net
 * MIT License (MIT), http://opensource.org/licenses/MIT
 */

a
{
	color: #7C44D7;
	text-decoration: underline;
}

a:hover
{
	color: #35068B;
}

body
{
	width: 100%;
	height: 100%;
	text-align: center;
}

header,
footer
{
	overflow: auto;
}

#snake-canvas
{
	border: 2px solid black;
}

#game-information
{
	margin-bottom: 0.5%;
}

.game-messages
{
	border-radius: 2px;
	color: white;
	position: absolute;
	left: 35%;
	right: 35%;
	top: 40%;
	padding: 5px;
	border: 2px solid black;
	background-color: #191919;
}

#game-information,
.game-messages
{
	font-weight: normal;
}